#cart-icon{
    font-size: 180%;
}

#badge{
    /*font-size: .4em;*/
    /*
    top: 150%;
    right: 100%;
    font-size: 40%;
    
    */
    vertical-align:middle;
    margin-left:0px;
    margin-top: -10px;
    font-size:50%;
    line-height: 1;

}

.footer-link i {
    vertical-align: -0.09em;
}

.footer-link {
    color: gray;
}

.footer-link:hover {
    color: white;
}

.footer-items {
    display: inline-block;
}

.footer-link {
    text-decoration: none;
    margin: 0.5rem;
}

.copy {
    color: gray;
}

.newsletter {
    width: 15rem;
    height: 2.1rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

.newsletter::-webkit-input-placeholder {
    text-align: center;
    line-height: 2rem;
}

.newsletter-button {
    height: 2.1rem;
    border: none;
    margin-left: 0.1rem;
    margin-top: -0.2rem;
}

.newsletter-text {
    color: gray;
}

footer {
    align-items: center;
    text-align: center;
    margin-bottom: 0px;
    padding: 0.5rem;
    padding-top: 1.5rem;
    margin-bottom: 0rem!important;
}

@media screen and (max-width: 886px){
    .footer-items {
        display: inherit;
    }

}