.card{
    /*margin-top: 10px;*/
    border: none;
    width: 500px;
    padding: 40px;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%,40%);
    background: hsla(205, 46%, 30%, 1);
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100% );
    font-size: 120%;
}

.card h1,
h6{
    color: #fff;
}

.mb-3{
    margin: 5px;
    text-align: start;
    color: #fff;
}

.btn{
    margin: 4px;
    padding: 10px 24px;
    align-items: center;
    font-size: 110%;
}
