/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

body {
    color: #7FB3D5;
    background-color: #34495E;
}

.card-product {
    border: 10px solid #17202A;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 
                0 6px 6px rgba(0,0,0,0.23);
    padding: 10px;
}