<div>
    <h1 style="color: white;">
        <i class="bi bi-house-door-fill" ></i>
        Pagina de Inicio
    </h1>
    <h4 style="color: white;">Esta aplicacion web es para un ecomerce de productos</h4>
    
    <div class="cards-box">
        <div class="card text-center" style="width: 18rem; display: inline-block; margin: 20px;">
            <div class="card-body">
              <h5 class="card-title">Producto especial</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Ver producto</a>
            </div>
          </div>
          <div class="card text-center" style="width: 18rem; display: inline-block; margin: 20px;">
            <div class="card-body">
              <h5 class="card-title">Producto especial</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Ver producto</a>
            </div>
          </div>
          <div class="card text-center" style="width: 18rem; display: inline-block; margin: 20px;">
            <div class="card-body">
              <h5 class="card-title">Producto especial</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Ver producto</a>
            </div>
          </div>
          <div class="card text-center" style="width: 18rem; display: inline-block; margin: 20px;">
            <div class="card-body">
              <h5 class="card-title">Producto especial</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Ver producto</a>
            </div>
          </div>
          <div class="card text-center" style="width: 18rem; display: inline-block; margin: 20px;">
            <div class="card-body">
              <h5 class="card-title">Producto especial</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Ver producto</a>
            </div>
          </div>
          <div class="card text-center" style="width: 18rem; display: inline-block; margin: 20px;">
            <div class="card-body">
              <h5 class="card-title">Producto especial</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Ver producto</a>
            </div>
          </div>
          <div class="card text-center" style="width: 18rem; display: inline-block; margin: 20px;">
            <div class="card-body">
              <h5 class="card-title">Producto especial</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Ver producto</a>
            </div>
          </div>
          <div class="card text-center" style="width: 18rem; display: inline-block; margin: 20px;">
            <div class="card-body">
              <h5 class="card-title">Producto especial</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Ver producto</a>
            </div>
          </div>
          <div class="card text-center" style="width: 18rem; display: inline-block; margin: 20px;">
            <div class="card-body">
              <h5 class="card-title">Producto especial</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Ver producto</a>
            </div>
          </div>
          <div class="card text-center" style="width: 18rem; display: inline-block; margin: 20px;">
            <div class="card-body">
              <h5 class="card-title">Producto especial</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Ver producto</a>
            </div>
          </div>
          <div class="card text-center" style="width: 18rem; display: inline-block; margin: 20px;">
            <div class="card-body">
              <h5 class="card-title">Producto especial</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Ver producto</a>
            </div>
          </div>
          <div class="card text-center" style="width: 18rem; display: inline-block; margin: 20px;">
            <div class="card-body">
              <h5 class="card-title">Producto especial</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Ver producto</a>
            </div>
          </div>
    </div>
    
      
</div>