<div>
    <h1>
        <i class="bi bi-search"></i>
        Buscar Productos
    </h1>
</div>

<form (ngSubmit) = "sendQuery(true)" #myform="ngForm" >
    <div class="input-group mb-3">
        <input type="text" #q="ngModel" [(ngModel)]="bskModel.q" name="q" minlength="2" class="form-control" required [ngClass]="{'is-valid': !q.invalid, 'is-invalid': q.invalid}" aria-label="Escribe el texto a buscar..." aria-describedby="btnSearch" placeholder="Escribe el texto a buscar..."/>
        <button type="submit" [disabled]="!myform.valid" class="signup-btn btn btn-secondary" title="Buscar Productos" id="btnSearch">
            <i class="bi bi-search"></i>
            <span class="d-none d-md-inline-block d-lg-inline-block">Buscar Productos</span>
        </button>
    </div>
</form>

<ng-template #elseBlock>
    <div *ngIf="cargandoBand;">
        cargando......
    </div>
</ng-template>
<div *ngIf="resultadoBsk; else elseBlock">
    <h3>Resultados: {{ resultadoBsk.count }}</h3>
    <div class="row">
        <div [ngStyle]="{'margin-bottom': '10px'}" class="col-xs-12 col-sm-12 col-md-3 col-lg-3" *ngFor="let elemento of resultadoBsk.products | paginate: { id: 'paginadoProductos', itemsPerPage: resultadoBsk.page_size, currentPage: bskModel.page, totalItems: resultadoBsk.count }">
            <div class="card card-product h-100">
                <a [href]="elemento.image_front_small_url" target="_blank">
                    <img [src]="elemento.image_front_small_url" class="card-img-top" alt="{{elemento.product_name}}"/>
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{elemento.product_name}} {{elemento.quantity}}</h5>
                    <p class="card-text">
                        {{elemento.brands}}
                    </p>
                    <a [routerLink]="['/producto',elemento.code]" class="btn btn-primary">
                        <i class="bi bi-arrow-right-circle-fill"></i>
                        Ver mas...
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <pagination-controls id="paginadoProductos" (pageChange)="paginar($event)"></pagination-controls>
        </div>
    </div>
</div>